# Home Assistant
HA_URL=https://ha.ammiratafabiano.dev
HA_TOKEN=your_long_lived_access_token
HA_NOTIFY_SERVICE=notify/mobile_app_nome_telefono   # oppure notify/notify per tutte le app

ALLOWED_ORIGINS=http://localhost:8100,https://car.ammiratafabiano.dev
PORT=3440
